<div>
  <form>
    <table class="table">
      <tbody>
        <tr>
          <td><label>Product Row ID</label></td>
          <td><input type="text" name="ProductRowId" /></td>
        </tr>
        <tr>
          <td><label>Product ID</label></td>
          <td><input type="text" name="ProductId" /></td>
        </tr>
        <tr>
          <td><label>Product Name</label></td>
          <td><input type="text" name="ProductName" /></td>
        </tr>
        <tr>
          <td><label>Categories</label></td>
          <td><select name="Categories"></select></td>
        </tr>
        <tr>
          <td><label>Manufacturers</label></td>
          <td><select name="Manufacturers"></select></td>
        </tr>
        <tr>
          <td><label>Description</label></td>
          <td><input type="text" name="Description" /></td>
        </tr>
        <tr>
          <td><label>Base Price</label></td>
          <td><input type="text" name="BasePrice" /></td>
        </tr>
        <tr>
          <td><input type="submit" name="Save" class="btn btn-primary" /></td>
          <td>
            <input
              type="button"
              name="Clear"
              value="Clear"
              class="btn btn-danger"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
